
body {
    font-family: 'Lato', 'sans-serif';
    min-height: 100vh;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #20CDF0;
    text-decoration: none;
}

.readMore {
    color: #20CDF0;
    font-weight: bold;
}

.readMore:hover {
    color: #02133F;
}

/* NAVBAR 2*/
.navbar .navbar-brand {
    border-radius: 50%;
} 

.navIcon:hover path {
    fill: #20CDF0;
}

.navbar {
    background-color: #02133F;
    color: #FFF;
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 0.85rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #20CDF0;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: #20CDF0;
}

.btn-primary {
    color: #000;
    border-color: #20CDF0;
    background-color: #20CDF0;
}

.btn-primary:hover {
    color: #FFF;
    background-color: #20CDF0;
    border-color: #20CDF0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../images/white_bars.svg');
}

.areaMenuText {
    padding: .25rem 1.5rem;
    color: #20CDF0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}


.img-fluid {
    max-width: 100%;
    height: auto;
    margin: 130px auto 20px;
    vertical-align: middle;
    text-align: center;
}

/* SECTION 1*/
h3 {
    text-transform: uppercase;
    border-left: solid #20CDF0 4px;
    font-style: italic;
    font-weight: bolder;
    line-height: 1.1;
    font-size: 1.5rem;
}

h2 {
    margin-top:50px;
}

.categoryHeadlines {
    width: 50%;
    padding: 0 15px;
    margin-top: 20px;
}

.categoryHeadlinesSmall {
    width: 50%;
    padding: 0 15px;
    margin-top: 80px;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.categorySubheadlines {
    text-transform: uppercase;
    color: #000;
    font-weight: bolder;
    margin-top: 30px;
}

h2 {
    font-weight: bolder;
    font-size: 2.5rem;
}

.businessbeatImage {
    vertical-align: middle;
    border-style: none;
    margin: 30px auto;
}

.communityFeaturedImage {
    vertical-align: middle;
    border-style: none;
    margin: 30px auto;
    max-width: 100%;
    height: auto;
    text-align: center;
}
}

.mostRead {
    margin-top: 30px;
}

.sidebarSubheadlines {
    text-transform: uppercase;
    color: #000;
    font-weight: bolder;
    font-style: italic;
}

.sidebarText {
    font-size: 0.8rem;
}

.divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 2px solid #e9ecef;
}

.number {
    font-size: 3rem;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.categorySubheadlinesSmall {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #747474;
    font-size: 0.8rem;
}

.sectionDivider {
    height: 0;
    margin: 4rem 0;
    overflow: hidden;
    border-top: 2px solid #e9ecef;
}

.sectionDividerMargin {
    margin: 10px auto 100px;
}

.socialDivider {
    height: 0;
    margin: 2rem 0 2rem;
    overflow: hidden;
    border-top: 2px solid #e9ecef;
    width: 35%;
}

.sectionDividerLists {
    height: 0;
    margin: 2rem 0 3rem;
    overflow: hidden;
    border-top: 2px solid #e9ecef;
}

.inBetweenDivider {
    height: 0;
    margin: 1rem 0 2rem;
    overflow: hidden;
    border-top: 2px solid #e9ecef;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin-top: 15px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.23rem 0;
}


/* SECTION 2*/
.promotedText {
    font-size: 0.8rem;
}

.bigboxAd {
    margin: 30px auto 50px;
}

.billboardAd2 {
    margin: 30px auto 50px;
}

.smallerHeadlines {
    font-size: 2.3rem;
}


/* SECTION 4*/
.sponsorBusinessHeadlines {
    text-transform: uppercase;
    color: #FFF;
    font-weight: bolder;
    font-style: italic;
    background-color: #02133F;
    padding: 10px 30px;
}


/* SUBSCRIBE*/
.newsletter {
    padding: 50px 0;
    background: #F8F8F8;
    margin-bottom: 150px;
}
    
.newsletter .content {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; 
}

.btn-outline-success2 {
    color: #FFF;
    border-color: #02133F;
    background-color: #02133F;
    margin: 10px;
}

.btn-outline-success2:hover {
    color: #000;
    background-color: #20CDF0;
    border-color: #20CDF0;
}

.form-control {
    margin: 10px;
}

.eNewsText {
    margin: 0 auto 30px;
    width: 80%;
    text-align: center;
}

.eNewsHeadline {
    margin-bottom: 20px;
    font-size: 1.75rem;
}

/* FOOTER*/
footer {
    background-color: #02133F;
    padding: 40px 30px;
    color: white;
    font-size: 0.8rem;
    max-height: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
}

footer ul {
    padding-left: 0;
}

.footerNav {
    display: none;
}

footer ul li {
    display: none;
    list-style: none;
    padding-top: 2px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 900;
    font-size: 0.9rem;
    text-align: center;
    padding-left: 0;
}

.footerLink {
    color: white;  
}

.socialIcons {
    margin-top: 10px;
}

.socialIconsHeadline {
    margin-top: 30px;
}

.socialIcons svg {
    margin: 5px;
}

.socialIconsHeadline svg {
    margin: 5px;
}

.socialIconsFillHeadline path {
    fill: #20CDF0;
}

.socialIconsFillHeadline:hover path {
    fill: #e9ecef;
}


.socialIconsFill:hover path {
    fill: #20CDF0;
}

.footerLogo:hover path {
    fill: #20CDF0;
}

.copyrigthText {
    padding-top: 20px;
}



/* CONTACT SECTION*/
.contact {
    padding: 60px 0;
    background: #F8F8F8;
    margin-bottom: 50px;
}

.contactHeading {
    margin-top: 90px;
}
    
.contact .content {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; 
}

textarea.form-control {
    height: 150px;
}

.contactText {
    margin: 0 auto 30px;
    width: 80%;
    text-align: center;
}

.contactHeadline {
    margin-bottom: 20px;
    font-size: 1.75rem;
}

.contactInfo {
    margin: 0;
}

.address {
    margin-top: 30px;
}

.boxes {
    margin: 50px auto;
}

.imgBoxes {
    margin-top: 15px;
}

form {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-check {
    position: relative;
    display: block;
}

.form-inline2 .form-control {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    text-align: center;
}

.btn-outline-success3 {
    color: #FFF;
    border-color: #02133F;
    background-color: #02133F;
    margin: 10px;
    width: 90%;
    padding: 10px;
}

.btn-outline-success3:hover {
    color: #000;
    background-color: #20CDF0;
    border-color: #20CDF0;
}


/* SUBMIT SECTION*/
.form-inline3 .form-control-2 {
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    text-align: center;
}

.formSubmit {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

h5 {
    padding-bottom: 15px;
    border-bottom: solid #20CDF0 4px;
    width: 90%;
    margin: auto;
}

.form-control-file {
    width: 90%;
    margin: 10px auto 50px;
}

.form-control-2 {
    display: block;
    width: 90%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 10px auto;
}


.btn-outline-success4 {
    color: #FFF;
    border-color: #02133F;
    background-color: #02133F;
    width: 90%;
    padding: 10px;
    margin: auto;
}

.btn-outline-success4:hover {
    color: #000;
    background-color: #20CDF0;
    border-color: #20CDF0;
}


.submitHeadline {
    text-align: center;
    margin: 0 auto 10px;
    font-size: 1.75rem;
}

.submitText {
    width: 60%;
    text-align: center;
    margin: 0 auto 10px;
}

.leadNavLink {
    padding-left: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-style: italic;
    font-size: 0.85rem;
}

.btnReadMore {
    display: block;
    width: 100%;
}

.btnReadMoreText:hover {
    color: #FFF;
}



/* /////////////////////////////////////////////////////
/////////////// MEDIA QUERIES ////////////////////////*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .form-inline .form-control {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        text-align: center;
    }

    .mr-sm-2, .mx-sm-2 {
        margin-right: 0rem;
    }

    .socialDivider {
        width: 35%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 30%;
        max-width: 30%;
    }

    .promotedText {
        font-size: 0.8rem;
        margin-bottom: 1rem 0 3rem;
    }

    .form-control-file {
        width: 70%;

    }

    .btn-outline-success4 {
        width: 70%;
    }
    
    .form-control-2 {
        width: 70%;
        font-size: 1rem;
    }
    
    h5 {
        width: 70%;
    }
    
    .contactHeading {
        margin-top: 100px;
    }

    .imgBoxes {
        margin-top: 0;
        width: 100%;
    }
    
    .address {
        margin-top: 0;
    }

    .contactForm {
        width: 50%;
    }

    .boxes {
        margin: 50px auto 100px;
    }

    footer {
        background-color: #02133F;
        padding: 60px 10px 40px;
        color: white;
        font-size: 0.8rem;
    }

    .footerNav {
        display: block;
    }

    footer ul li {
        display: block;
        list-style: none;
        padding-top: 2px;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 900;
        font-size: 0.9rem;
        text-align: right;
    }

    .socialIcons {
        margin-top: 50px;
    }
    
    .contact {
        padding: 60px 0;
        background: #F8F8F8;
        margin-bottom: 150px;
    }
    
    .billboardAd {
        margin: 130px auto 50px;
    }

    .billboardAd2 {
        margin: 50px auto 50px;
    }

    .categoryHeadlines {
        width: 30%;
    }

    h2 {
        font-weight: bolder;
        font-size: 3rem;
    }

    p {
        margin-bottom: 1rem;
    }

    .leadNavLink {
        margin-bottom: 0;
    }

    h3 {
        font-size: 1.75rem;
    }

    .sidebarText {
        font-size: 1rem;
    }
    
    .navbar {
        padding: 10px 50px;
    }

    .card-body {
        padding: 1rem 0em;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
        margin: 80px auto 20px;
        vertical-align: middle;
        text-align: center;
    }

    .bigboxAd {
        margin: 0 auto 40px;
    }

    .eNewsText {
        width: 60%;
        margin: 0 auto 40px;
    }

    .form-control {
        margin: 20px;
    }

    .btn-outline-success2 {
        margin: 20px;
    } 

    .socialDivider {
        width: 15%;
    }

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
    .dropdown-menu {
        width: 800px;
    }

  
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        text-align: left;
    }

    .form-inline2 .form-control {
        width: 100%;
    }

    .btn-outline-success3 {
        width: 100%;
        margin-top: 50px;
    }

    .billboardAd {
        margin: 180px auto 50px;
    }

    .billboardAd2 {
        margin: 130px auto 100px;
    }

    .categoryHeadlines {
        width: 20%;
    }


    .categorySubheadlinesSmall {
        margin-top: 15px;
    }

    .sidebarText {
        font-size: 0.8rem;
    }

    .card-body {
        padding: 1.23rem 0;
    }
    
    .form-control {
        margin-right: 8px;
    }

    .eNewsHeadline,
    .contactHeadline,
    .submitHeadline {
        font-size: 2.5rem;   
    }

    .form-control {
        margin: 10px;
    }

    .btn-outline-success2 {
        margin: 10px;
    }

    .boxes {
        margin: 150px auto;
    }

    .sidebarAds {
        margin-top: 80px;
    }

}

@media (min-width: 1024px) { 
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 32%;
        max-width: 60%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {    
    .dropdown-menu {
        width: 750px;
    }
    
    .smallDropdown {
        width: 300px;
    }
}