
body {
    font-family: 'Lato', 'sans-serif';
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #20CDF0;
    text-decoration: none;
}

.readMore {
    color: #20CDF0;
    font-weight: bold;
}

.readMore:hover {
    color: #02133F;
}

/* NAVBAR 2*/
.navbar .navbar-brand {
    border-radius: 50%;
} 

.navbar {
    background-color: #02133F;
    color: #FFF;
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 0.9rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #20CDF0;
}

.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
    color: #20CDF0;
}

.btn-outline-success {
    color: #20CDF0;
    border-color: #20CDF0;
}

.btn-outline-success:hover {
    color: #FFF;
    background-color: #20CDF0;
    border-color: #20CDF0;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../images/white_bars.svg');
}

.areaMenuText {
    padding: .25rem 1.5rem;
    color: #20CDF0;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}


.img-fluid {
    max-width: 100%;
    height: auto;
    margin: 110px auto 20px;
    vertical-align: middle;
    text-align: center;
}

/* SECTION 1*/
h3 {
    text-transform: uppercase;
    border-left: solid #20CDF0 4px;
    font-style: italic;
    font-weight: bolder;
    line-height: 1.1;
    font-size: 1.5rem;
}

.categoryHeadlines {
    width: 50%;
    padding: 0 15px;
}

.categorySubheadlines {
    text-transform: uppercase;
    color: #000;
    font-weight: bolder;
    margin-top: 10px;
}

h2 {
    font-weight: bolder;
    font-size: 2.5rem;
}

.businessbeatImage {
    vertical-align: middle;
    border-style: none;
    margin: 30px auto;
}

.mostRead {
    margin-top: 30px;
}

.sidebarSubheadlines {
    text-transform: uppercase;
    color: #000;
    font-weight: bolder;
    font-style: italic;
}

.sidebarText {
    font-size: 0.8rem;
}

.divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 2px solid #e9ecef;
}

.number {
    font-size: 3rem;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.categorySubheadlinesSmall {
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #747474;
    font-size: 0.8rem;
}

.sectionDivider {
    height: 0;
    margin: 3rem 0;
    overflow: hidden;
    border-top: 2px solid #e9ecef;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin-top: 15px;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.23rem 0;
}


/* SECTION 2*/

/* /////////////////////////////////////////////////////
/////////////// MEDIA QUERIES ////////////////////////*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 30%;
        max-width: 40%;
    }

    .billboardAd {
        margin: 130px auto 50px;
    }

    .categoryHeadlines {
        width: 30%;
    }

    h2 {
        font-weight: bolder;
        font-size: 3rem;
    }

    p {
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    .sidebarText {
        font-size: 1rem;
    }
    
    .navbar {
        padding: 10px 50px;
    }

    .card-body {
        padding: 1rem 0em;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .dropdown-menu {
        width: 800px;
    }

    .billboardAd {
        margin: 180px auto 100px;
    }

    .categoryHeadlines {
        width: 20%;
    }


    .categorySubheadlinesSmall {
        margin-top: 15px;
    }

    .sidebarText {
        font-size: 0.8rem 0;
    }

    .card-body {
        padding: 1.23rem 0;
    }
    
}

@media (min-width: 1024px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .dropdown-menu {
        width: 750px;
    }
    
}